body {
    font-family: sans-serif;
    text-align: center;
}
#nav{
    width: 100%;
    height: 400px;
    background: url(cv_background.jpg);
    background-size: cover;
}
#nav_wrapper{
    height: 100px;
    width: 100%;
    background: rgba(65, 126, 29, 0.59);
    margin-left: auto;
    margin-right: auto;
    top: 0;
    position: fixed;
}
#nav_wrapper ul li{
    list-style: none;
    display: inline;
    font-weight: bold;
    padding: 15px;

}
#nav_wrapper a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
#nav_wrapper ul li:hover{
    background: #173309;
    tansition: all 0.45s;
}
h1{
    font-family: sans-serif;
}

.section {
    position: absolute;
    top:10px;
}

section#me{/*About me - tyylit alkaa*/
    background: #F5F5F5;
    height: 500px;
    padding: 50px;
    margin-bottom: -140px;
}
section#me h1{
    font-family: sans-serif;
    color: black;
    text-align: center;
    font-size: 200%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}
#me p{
    font-family: sans-serif;
    color: black;
    text-align: center;
    font-size: 125%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}

/*About me - tyylit loppuu */
section#education{/*Education - tyylit alkaa*/
    background: #96BE0F;
    height: 500px;
    padding: 50px;

}
#education h1 {
    color: white;
    text-align: center;
    font-size: 200%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}
#education h2 {
    color: white;
    text-align: center;
    font-size: 150%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}
#education p {
    color: white;
    text-align: center;
    font-size: 125%;
    margin-top: 0px;
    margin-right: 250px;
    margin-bottom: 25px;
    margin-left:0px;
}/*Education - tyylit loppuu*/
section#work{/*Work-tyylit alkaa*/
    height: 500px;
    background: #F5F5F5;
    padding: 50px;
}
#work h1{
    color:black;
    text-align: center;
    font-size: 200%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}
#work h2 {
    color: black;
    text-align: center;
    font-size: 150%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}
#work p{
    color: black;
    text-align: center;
    font-size: 125%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 230px;
} /*Work-tyylit loppuu*/
section#skills{/*Skills- tyylit alkaa*/
    background: #1DAAF8;
    height: 500px;
    padding: 50px;
}
#skills h1{
    color: white;
    text-align: center;
    font-size: 200%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}
#skills p{
    color: white;
    text-align: center;
    font-size: 125%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}/*Skills-tyylit loppuu*/
#strengths {/*Vahvuudet*/
    height: 500px;
    background: #F5F5F5;
    padding: 50px;
}
#strengths h1{
    color:black;
    text-align: center;
    font-size: 200%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}
#strengths p{
    color:black;
    text-align: center;
    font-size: 125%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 250px;
}
footer{
    height: 200px;
    background: #f8a71b;
    padding: 50px;
}
footer a{
    padding: 15px;
}
